<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tech Blog</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <section>
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light navheight nav-text"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="/"
            ><img
              src="/imgs/logo.png"
              alt="The Tech Blog Logo"
              class="logo"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end gap-3"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav mb-2 mb-lg-0 px-5">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              {{#if logged_in}}
              <li class="nav-item">
                <a class="nav-link" href="/profile">Dashboard</a>
              </li>
              {{/if}}
              {{#unless logged_in}}
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="/login"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdropLogin"
                  >Login</a
                >
              </li>
              {{/unless}}
              {{#if logged_in}}
              <li class="nav-item">
                <a class="nav-link" href="#" id="logout">Logout</a>
              </li>
              {{/if}}
              {{#unless logged_in}}
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="/register"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdropRegister"
                  >Register</a
                >
              </li>
              {{/unless}}
              {{#if logged_in}}
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="/newpost"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdropNewPost"
                  >Add New Post</a
                >
              </li>
              {{/if}}
            </ul>
          </div>
        </div>
      </nav>
    </section>

    <section class="body-container">
      <main class="bodycontent container-fluid">
        <!-- Render the contents of the sub layout here -->

        {{{ body }}}
        
      </main>
    </section>

    <!-- Modal Section -->
    <section>
      <!-- Login Modal -->
      <div
        class="modal fade"
        id="staticBackdropLogin"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">
                Login to The Tech Blog
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="email-login" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="email-login"
                  placeholder="name@example.com"
                />
              </div>
              <div class="mb-3">
                <label for="password-login" class="col-sm-2 col-form-label"
                  >Password</label
                >
                <div class="col-sm-10">
                  <input
                    type="password"
                    class="form-control"
                    id="password-login"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary post-text"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" id="login-btn" class="btn btn-primary post-text">
                Login
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Register Modal -->
      <div
        class="modal fade"
        id="staticBackdropRegister"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">
                Register a New Account
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="name-signup" class="form-label"
                  >Username</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="name-signup"
                  placeholder="E.g. TechGuyMike"
                />
              </div>
              <div class="mb-3">
                <label for="email-signup" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="email-signup"
                  placeholder="name@example.com"
                />
              </div>
              <div class="mb-3">
                <label for="password-signup" class="col-sm-2 col-form-label"
                  >Password</label
                >
                <div class="col-sm-10">
                  <input
                    type="password"
                    class="form-control"
                    id="password-signup"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary post-text"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" id="register-btn" class="btn btn-primary post-text">
                Register
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- New Post Modal -->
      <div
        class="modal fade"
        id="staticBackdropNewPost"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Add New Post</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3 row">
                <label for="newpost_username" class="col-sm-2 col-form-label"
                  >Username: 
                </label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    readonly
                    class="form-control-plaintext px-2"
                    id="newpost_username"
                    value="{{userName}}"
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="newpost-title" class="form-label">Post Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="newpost-title"
                  placeholder=""
                />
              </div>
              <div class="mb-3">
                <label for="newpost-text" class="form-label">Post Text</label>
                <textarea
                  class="form-control"
                  id="newpost-text"
                  rows="3"
                ></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary post-text"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" id="newPost-btn" class="btn btn-primary post-text">
                Post
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Add Comment Modal -->
      <div
        class="modal fade"
        id="staticBackdropNewComment"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Add Comment</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3 row">
                <label for="staticPostTitle" class="col-sm-2 col-form-label"
                  >Post:
                </label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    readonly
                    class="form-control-plaintext"
                    id="staticPostTitle"
                    value="Post Title Here"
                  />
                </div>
              </div>

              <div class="mb-3">
                <label for="newCommentBody" class="form-label">Comment</label>
                <textarea
                  class="form-control"
                  id="newCommentBody"
                  rows="3"
                ></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary post-text"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary post-text">
                Add Comment
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Update Post Modal -->
      <div
        class="modal fade"
        id="staticBackdropUpdatePost"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Edit Post</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="newPostTitle" class="form-label">Post Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="newPostTitle"
                  placeholder=""
                />
              </div>
              <div class="mb-3">
                <label for="newPostBody" class="form-label">Post Text</label>
                <textarea
                  class="form-control"
                  id="newPostBody"
                  rows="3"
                ></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary post-text"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" id="edit-btn" data-id="{{post.id}}" class="btn btn-primary post-text">
                Update Post
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
    <script src="/js/login.js"></script>
    
    <script src="/js/profile.js"></script>
    <script src="/js/logout.js"></script>
    
    <script src="/js/script.js"></script>
  </body>
</html>
