{{#each blogposts as |post| }}
<div class="container blog-entry pt-3">
  <div class="card">
    <div class="card-header">
      <h5 class="post-info py-1">{{post.title}}</h5>
    </div>

    <div class="card-body">
      <p class="card-text post-text">
        {{post.text}}
      </p>
    </div>

    <div class="card-footer d-flex align-items-center justify-content-end">
      <p class="post-info post-text">
                Posted by {{post.user.name}} on {{format_date post.date_created}}
      </p>
      {{#unless logged_in}}
      <a
                href="#"
                class="btn btn-primary btn-sm post-text"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdropNewComment"
                >Add Comment</a
      >
      {{/unless}}
    </div>
  </div>
</div>
{{/each}}